.tableContainer{


  max-width: 100vw;
  max-height: 80vh;
  overflow: scroll;
  margin-bottom: 3rem;
}

.table > tbody > tr > td {
  border-right: 1px solid black;
  
}

.table > tbody > tr > th {
  position: sticky;
  top: 0;
  
}

.table{
  border-collapse: collapse;
  font-size: 1em;
  font-family: sans-serif;
  min-width: 700px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  
}

table{
  position: relative;
}

th {
  background: white;
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
  background-color: yellowgreen;
}

.table > thead {
  background-color: burlywood;
  color: black;
  
}
.table > tbody > tr > td{
  padding: 8px 10px
}

td[data_id='name']{
  font-weight: bold;
  
}